## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

samples_list_1 = random.sample(range(100), k=80)
print(samples_list_1)

[82, 96, 78, 79, 92, 67, 64, 1, 48, 49, 53, 8, 73, 24, 86, 71, 20, 51, 0, 31, 36, 15, 13, 65, 56, 7, 61, 63, 9, 4, 18, 26, 88, 81, 75, 27, 62, 35, 72, 95, 97, 32, 60, 98, 46, 25, 29, 85, 68, 2, 90, 40, 69, 14, 16, 77, 58, 30, 52, 84, 91, 70, 59, 76, 37, 5, 47, 99, 11, 43, 55, 93, 66, 50, 3, 94, 6, 87, 42, 89]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(samples_list_1)
print(set1)

print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 24, 25, 26, 27, 29, 30, 31, 32, 35, 36, 37, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here


import random 

samples_list_2 = [random.randint(0,100) for i in range(80)]
print(samples_list_2)

[91, 3, 73, 97, 72, 54, 28, 7, 2, 66, 1, 61, 4, 65, 73, 63, 0, 67, 12, 62, 96, 11, 73, 97, 91, 90, 2, 32, 24, 41, 55, 83, 100, 66, 41, 9, 2, 95, 91, 85, 29, 77, 59, 11, 52, 60, 0, 16, 28, 14, 75, 63, 75, 94, 41, 90, 14, 57, 69, 77, 76, 49, 60, 26, 47, 49, 19, 66, 65, 45, 60, 90, 54, 53, 32, 100, 96, 42, 6, 59]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(samples_list_2)
print(set2)

print(len(set2))

{0, 1, 2, 3, 4, 6, 7, 9, 11, 12, 14, 16, 19, 24, 26, 28, 29, 32, 41, 42, 45, 47, 49, 52, 53, 54, 55, 57, 59, 60, 61, 62, 63, 65, 66, 67, 69, 72, 73, 75, 76, 77, 83, 85, 90, 91, 94, 95, 96, 97, 100}
51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1 - set2
print(set3)

{5, 8, 13, 15, 18, 20, 25, 27, 30, 31, 35, 36, 37, 40, 43, 46, 48, 50, 51, 56, 58, 64, 68, 70, 71, 78, 79, 81, 82, 84, 86, 87, 88, 89, 92, 93, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2 - set1
print(set4)

{100, 41, 12, 45, 19, 83, 54, 57, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 3, 4, 6, 7, 9, 11, 14, 16, 24, 26, 29, 32, 42, 47, 49, 52, 53, 55, 59, 60, 61, 62, 63, 65, 66, 67, 69, 72, 73, 75, 76, 77, 85, 90, 91, 94, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# set1 is bigger than set2: Set1 is a set of a list that contained only unique values, but set2 is a set from a list that contained duplicates
len(set1) > len(set2)

# set3 is bigger than set4: there are more values that are present only in set1 and are not in set2 than values that are present only in set2 and not in set1
len(set3) > len(set4)

# set5 contains shared elements of set1 and set2, therefore it is smaller that set1 and set2
len(set5) < len(set1)
len(set5) < len(set2)

80
51
38
9
42

True

#### Create an empty set called `set6`.

In [15]:
# Your code here

set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here

#print(set6)

set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 24, 25, 26, 27, 29, 30, 31, 32, 35, 36, 37, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here

if set1 == set6:
    print(True)
else:
    False

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here

x = set2.issubset(set1)
print(x)

y = set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
# Your code here

union1 = set3.union(set4, set5)
print('Union1:',union1)

union2 = set1.union(set2)
print('Union2:',union2)

Union1: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
Union2: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here

x = set1.pop()
print(x)
print(set1)

0
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 20, 24, 25, 26, 27, 29, 30, 31, 32, 35, 36, 37, 40, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [21]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        x = set1.discard(i)
        
print(set1)

print(len(set1))

{2, 3, 4, 5, 6, 7, 8, 13, 14, 15, 16, 18, 20, 24, 25, 26, 27, 30, 32, 35, 36, 37, 40, 42, 43, 46, 47, 48, 50, 52, 53, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}
63